<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
        .footer {
            background: linear-gradient(to right, #ff9500, #919900);
            color: #000 !important;
        }

        .footer-text {
            font-weight: bold !important;
        }
    </style>
</head>
<body>
    <center>
        <footer class="footer">
            <div class="container">
                <div class="text-center py-3 footer-text">Colegio Patria &copy; Derechos Reservados por Jesus Esteban Morales Niebla 2024</div>
            </div>
        </footer>
    </center>
</body>
</html>