<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculo del Pago</title>
    <style>
        .table-container {
            margin-top: 20px;
            width: 80%;
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #000000 !important;
            padding: 5px;
        }

        th {
            background-color: lightgrey;
        }

        #totalAPagar {
            background-color: lightgrey;
        }

        #paymentDetails {
            margin-top: 25px;
            margin-bottom: 5px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            width: 50%;
        }
    </style>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <center>
        <br>
        <h1>Recibo de Pago del Docente</h1>
        <% if (isPost) { %>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Núm. Docente</th>
                        <th>Nombre</th>
                        <th>Domicilio</th>
                        <th>Nivel</th>
                        <th>Pago hora base</th>
                        <th>Horas impartidas</th>
                        <th>Núm. hijos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= numDocente %></td>
                        <td><%= nombre %></td>
                        <td><%= domicilio %></td>
                        <td><%= nivel %></td>
                        <td><%= pagoHB %></td>
                        <td><%= horasImp %></td>
                        <td><%= numHijos %></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5"></td>
                        <td>Horas impartidas</td>
                        <td>$<span><%= pagoPorHoras %></span></td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                        <td>Pago por Bono. (+)</td>
                        <td>$<span><%= bono %></span></td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                        <td>Pago Impuesto. (-) 16%</td>
                        <td>$<span><%= impuesto %></span></td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                        <td style="font-weight: bold;" id="totalAPagar">Total a pagar.</td>
                        <td style="font-weight: bold;" id="totalAPagar">$<span><%= totalAPagar %></span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="paymentDetails">
            <h3>Detalles del Pago</h3>
            <p><strong>Pago Por Horas Impartidas: $<%= pagoPorHoras.toFixed(2) %></strong></p>
            <p><strong>Pago por Bono: $<%= bono.toFixed(2) %></strong></p>
            <p><strong>Impuestos: $<%= impuesto.toFixed(2) %></strong></p>
            <p><strong>Total a Pagar: $<%= totalAPagar.toFixed(2) %></strong></p>
        </div>
        <% } else { %>
        <p><strong>Ingrese los detalles del docente antes de calcular el recibo de pago.</strong></p>
        <% } %>
    </center>
    <%-include('partials/footer.ejs')%>
</body>
</html>