<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=titulo%></title>
    <style>
        .main-container {
            background-color: #f2f2f2;
        }

        .content-container {
            background-color: #34dbb4;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
        }

        .content-container form {
            display: grid;
            gap: 10px;
        }

        .content-container form label {
            font-weight: bold;
        }

        .content-container form input[type="number"],
        .content-container form input[type="text"],
        .content-container form select {
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .content-container form button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

        .content-container form button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <%-include('partials/header.ejs')%>
        <%-include('partials/nav.ejs')%>
        <div class="content-container">
            <h1>Bienvenido al sistema de Pagos a Docentes del Colegio Patria</h1>
            <form id="paymentForm" action="/calcularpago" method="post">
                <label for="numDocente">Núm. Docente:</label>
                <input type="number" id="numDocente" name="numDocente" required>

                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="domicilio">Domicilio:</label>
                <input type="text" id="domicilio" name="domicilio" required>

                <label for="nivel">Nivel:</label>
                <select id="nivel" name="nivel" required>
                    <option value="1">Nivel 1</option>
                    <option value="2">Nivel 2</option>
                    <option value="3">Nivel 3</option>
                </select>

                <label for="pagoHB">Pago Hora Base:</label>
                <input type="number" id="pagoHB" name="pagoHB" step="0.01" required>

                <label for="horasImp">Horas impartidas:</label>
                <input type="number" id="horasImp" name="horasImp" required>

                <label for="numHijos">Núm. Hijos:</label>
                <select id="numHijos" name="numHijos" required>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">Más de 5</option>
                </select>

                <button type="submit">Calcular</button>
                <button type="button" onclick="limpiarFormulario()">Limpiar</button>
            </form>
        </div>
        <div class="footer-container">
            <%-include('partials/footer.ejs')%>
        </div>
    </div>

    <script>
        function limpiarFormulario() {
            document.getElementById("paymentForm").reset();
        }
    </script>
</body>
</html>